<% layout('layout') -%>
<% block('title', 'Game prototype') -%>
  <input type='button' name="start" value='Start Game'></input>
  <div id="field">
    <div id="board"></div>
    <div id="hand"></div>
    <div id="seat"></div>
    <div id="stack"></div>
  </div>
  <div id="choice"></div>
  <input id="initSum" type="hidden"></input>
  <ul id="log"></ul>
<script>
var sock;
var startHand = JSON.stringify({
  type: 'START_HAND',
  data: ''
});

$("input[name='start']").on('click', function(){
  if(!sock){
    sock = createSockClient();
  }
  else{

    sock.send(startHand);
  }


});
$('#choice').on('click', '.answer', function(){
  var act = $(this).val();
  var sum = $('#sum').val();
  switch(act){
    case 'CHECK':
    case 'FOLD':
      sum = 0;
      break;
    case 'CALL':
      sum = $('#initSum').val();
      break;
  }
  var answer = {
    'id': '1',
    'action': act,
    'sum': sum
  };
  sock.send(JSON.stringify({
    type: 'DECISION',
    data: answer
  }));
  $('#choice').empty();

});

function createSockClient(){
  var sock = new SockJS('/gameproc');
   sock.onopen = function() {
       console.log('open');
       sock.send(startHand);
    };
   sock.onmessage = function(e) {
       console.log('message', e.data);
       var state = e.data;
       if(state == 'END_HAND'){
         $('#hand').text('');
         $('#board').text('PRESS START');
     }
     else {
         state = JSON.parse(state);
         $('#hand').text('My hand: '+state.hand);
         $('#board').text('Board: '+state.board);
         $('#seat').text('Seat: '+state.seat);
         $('#stack').text('Stack: '+state.stack);
         if(state.lastAction){
           $('<li>').text(state.lastAction).appendTo($('#log'));

         }
         if(state.choice){
           $('#initSum').val(state.choice.sum);
           var choice = $('#choice');
           choice.append($('<input id="sum">').val(state.choice.sum));
           var buttons = $('<div>');
           state.choice.actions.forEach(function(item){
             buttons.append($('<button>').val(item).text(item).addClass('answer'));
           });
           choice.append(buttons);

         }

   };
 }
   sock.onclose = function() {
       console.log('close');
   };
   sock.onerror = function(e) {
      console.log(e);
   };
   return sock;
}

</script>
