<% layout('layout') -%>
<% block('title', 'Game prototype') -%>
<form name="commandForm">
  <input type='button' name="start" value='Start Game'></input>
  <br>
  <input type='text' name='command'></input>
  <input type='button' name="send" value='Command'></input>
</form>

<script>
var sock;
$("input[name='start']").on('click', function(){
  sock = new SockJS('/gameproc');
   sock.onopen = function() {
       console.log('open');
    };
   sock.onmessage = function(e) {

       console.log('message', e.data);
   };
   sock.onclose = function() {
       console.log('close');
   };
   sock.onerror = function(e) {
      console.log(e);
   };
});
$("input[name='send']").on('click', function(){

  sock.send($("input[name='command']").val());

});

</script>
