<% layout('layout') -%>
<% block('title', 'Game prototype') -%>
  <input type='button' name="start" value='Start Game'></input>
  <div id="field">
    <div id="board"></div>
    <div id="bank"></div>
    <ul id="stacks">Stacks</ul>
    ==================================================================
    <div id="hand"></div>
    <div id="seat"></div>
    <div id="stack"></div>

  </div>
  <div id="choice"></div>
  <input id="initSum" type="hidden"></input>
  <ul id="log"></ul>
<script>
var sock;
function sendMessage(type, data){
  var message = {
    type: type,
    data: data
  };
  var strMessage = JSON.stringify(message);
  sock.send(strMessage);
}


$("input[name='start']").on('click', function(){
  $('#log').empty();
  if(!sock){
    sock = createSockClient();
  }
  else{

    sendMessage('SERVICE', 'START_HAND');
  }


});
$('#choice').on('click', '.answer', function(){
  var act = $(this).val();
  var sum = $('#sum').val();
  switch(act){
    case 'CHECK':
    case 'FOLD':
      sum = 0;
      break;
    case 'CALL':
      sum = $('#initSum').val();
      break;
  }
  var answer = {
    'id': '1',
    'action': act,
    'sum': sum
  };
  sendMessage('DECISION', answer);
  $('#choice').empty();

});

function updateMoneyInfo(state){
  $('#bank').text("Bank: "+state.bank);
  $('#stacks').empty();
  for(var i=0, l = state.stacks.length; i<l; i++){
    var stack = state.stacks[i];
    var key = Object.keys(stack)[0];
    if(key!='1'){
      $('<li>').text(key+": "+stack[key]).appendTo($('#stacks'));
    } else{

      $('#stack').text('Stack: '+stack[key]);
    }
  }
}

function createSockClient(){
  var sock = new SockJS('/gameproc');
   sock.onopen = function() {
       console.log('open');
       sendMessage('SERVICE', 'START_HAND');
    };
   sock.onmessage = function(message) {
       console.log('message', message.data);
       message = JSON.parse(message.data);
       switch(message.type){
         case 'SERVICE':
           switch(message.data){
             case 'END_HAND':
               $('#hand').text('');
               $('#board').text('PRESS START');
               break;
             default:
               break;
            }
            break;
         case 'STAGE':
           $('<li>').text(message.data).appendTo($('#log'));
           //$('#bank').text("Bank: 0");
           break;
         case 'STATE':
          // state = JSON.parse(state);
           var state = message.data;
           $('#hand').text('My hand: '+state.hand);
           $('#board').text('Board: '+state.board);
           $('#seat').text('Seat: '+state.seat);
           updateMoneyInfo(state);
           if(state.lastAction){
             $('<li>').text(state.lastAction).appendTo($('#log'));

           }
           if(state.choice){
             $('#initSum').val(state.choice.sum);
             var choice = $('#choice');
             choice.append($('<input id="sum">').val(state.choice.sum));
             var buttons = $('<div>');
             state.choice.actions.forEach(function(item){
               buttons.append($('<button>').val(item).text(item).addClass('answer'));
             });
             choice.append(buttons);

           }
           break;
         case 'SHOWDOWN':
           state = message.data;
           updateMoneyInfo(state);
           var infoWin = state.infoWin;
           if(state.winner) {
             infoWin = "YOU'RE A WINNER\n"+infoWin;
           }
           $('<li>').text(infoWin).appendTo($('#log'));
           break;
         default:
           break;
       }

   };
 //}
   sock.onclose = function() {
       console.log('close');
   };
   sock.onerror = function(e) {
      console.log(e);
   };
   return sock;
}

</script>
