<!Doctype html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
  </head>
  <body>
    <h1> <%=blocks.title%> </h1>
    <%-body -%>
  </body>
</html/>
