<!Doctype html>
<html>
  <head>
    <script src="vendor\bower_components\jquery\dist\jquery.min.js"></script>
    <script src="vendor\bower_components\sockjs-client\dist\sockjs.js"></script>
  </head>
  <body>
    <h1> <%=blocks.title%> </h1>
    <%-body -%>
  </body>
</html/>
